body {
  background-color: gainsboro;
}
h1 {
  color: plum;
  font-family: serif;
  font-size: 50%;
}
h2  {
  color: black;
  font-family: serif;
  font-size: 150%;
}
h3  {
  color: black;
  font-family: serif;
  font-size: 100%;
}
h4, h5  {
  color: black;
  font-family: serif;
  font-size: 150%;
}
p {
  color: black;
}
