body {
  background-color: powderblue;
}
h1 {
  color: blue;
  font-family: serif;
  font-size: 50%;
}
h2,h3  {
  color: blue;
  font-family: serif;
  font-size: 150%;
}
h4, h7  {
  color: blue;
  font-family: serif;
  font-size: 150%;
}
p1 {
  color: black;
}
